<div class="input-group" data-search-form>
  <input type="text" name="q" class="form-control" placeholder="Filtrar por...">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" data-path="<%= path %>">Buscar</button>
  </span>
</div>

