<div class="page-title">
  <div class="title_left">
    <h3>Cartões / RFID</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
      <h2>Alterar Cartão / RFID</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content" style="display: block;">
        <br>
        <%= render partial: 'shared/errors', locals: { model: card } %>
        <%= render partial: 'cards/form' %>
      </div>
    </div>
  </div>
</div>
